body {
    background-color: #ffffff00;
    margin:0;
}

header {
    width:100%; background-color:rgb(198 26 26); padding: 10px; height:120px;
    font-weight: 600; font-size: 200%;
}

img.title1 {
    float: left; margin-left:350px; width:100px; height:100px; margin-right: 10px; margin-bottom: 10px; margin-top: 10px;
}

div.name {
    background-color:#e69b9b; padding:20px; 
}

nav {
    font-weight: 600;
    max-width:800px; background-color:#e69b9b; margin: 0 auto; margin-top:20px; padding:10px;
    word-spacing: 80px;
}
.container {
	padding-left:20px;
    width: 700px;
    margin: 0 auto;
	background-color: #e68b9b;
    }
div.links {
    max-width:800px; margin: 0 auto; padding:10px;
}

table {
    max-width:800px; margin: 0 auto; padding:10px;
    text-align: center; 
}

tr.light {
    background: #e69b9b;
}

tr.dark {
    background: #e01111;
}

form {
    max-width:800px; margin: 0 auto; padding:10px; 
}

footer {
    width:100%; background-color:rgb(198 26 26); padding: 10px; height:120px;
    line-height:100px; color: #e69b9b;
}
